 <u1>
<h1>panel de opciones</h1>

 </u1>

  <u1>
 <li><a href="/actividades_de_hoy">actividades de hoy</a></li>
<li><a href="/lista_de_clientes">lista de clientes</a></li>
<li><a href="/centro_de_mensajeria">centro de mensajeria</a></li>
<li><a href="/historial">historial</a></li>
<li><a href="/mas">mas</a></li>
  </u1>
        
      

