<h3>nuevo cliente</h3>
<form action="/clientes/nuevo-cliente" method="POST">
    <div class="form-grup">
    <input type="text" name="nombre" class="form-control" placeholder="nombre" autofocus>
    </div>

    <div class="form-grup">
        <textarea name="direccion" placeholder="direccion"  class="form-control"></textarea>
    </div>

    <div class="form-grup">
        <textarea name="tarea" placeholder="tarea"  class="form-control"></textarea>
    </div>

    <div class="form-grup">
        <textarea name="producto" placeholder="producto"  class="form-control"></textarea>
    </div>

    <div class="form-grup">
        <button class="btn btn-primary btn-block" >guardar</button>
    </div>
</form>

<u1> 
    <li><a href="/clientes">ver clientes</a></li>
</u1>