<h3>nueva tarea</h3>
<form action="/tareas/nueva-tarea" method="POST">
    <div class="form-grup">
    <input type="text" name="titulo" class="form-control" placeholder="titulo" autofocus>
    </div>

    <div class="form-grup">
        <textarea name="descripcion" placeholder="Descripcion"  class="form-control"></textarea>
    </div>

    <div class="form-grup">
        <button class="btn btn-primary btn-block" >guardar</button>
    </div>
</form>

<u1> 
    <li><a href="/tareas">ver tareas</a></li>
</u1>