
<h1>idioma Español</h1>
<h1>hola mundo </h1>

<li>usuario</li>


<!--<form action="/users/add"method="POST"> 
<div>
       <label for="usuario">escribe tu usuario:</label> 
       <input type="text" name="usuario" placeholder="usuario" id="usuario">    
</div>

 <li>contraseña</li>

<div>
       <label for="contraseña">escribe tu contraseña:</label> 
       <input type="text" name="contraseña" placeholder="contraseña" id="contraseña">
</div>

<button>add</button>

</form>
-->
        <u1> 
               <li><a href="/iniciar">iniciar sesion</a></li>
        </u1>


