<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                iniciar sesion
            </div>
            <div class="card-body">
                <form action="/usuarios/inscrito" method="post">
        
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email"> 
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="contraseña" placeholder="contraseña"> 
                    </div>
                   
                    <button class="btn btn-primary btn-block">
                        acceder
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>